# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
/data
/meuCredito-6ae28e6f8f3c8cd7cec719ce22bab7a6b4e13ba6
# testing
/coverage

# production
/build

# misc 
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
