/* Cores baseadas nos guias de design */
:root {
  --primary-color: #0052CC; /* Cor primária do design system */
  --secondary-color: #172B4D; /* Cor secundária */
  --background-color: #F4F5F7; /* Cor de fundo clara */
  --error-color: #FF5630; /* Cor de erro */
  --button-background: #0052CC; /* Cor de fundo do botão */
  --button-text-color: #FFFFFF; /* Cor do texto do botão */
}

.App {
  text-align: center;
  background-color: var(--background-color);
  padding: 20px;
}

.titulo {
  font-family: 'Arial', sans-serif;
  color: var(--primary-color);
}

.tabela-historico {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  background-color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: var(--secondary-color);
  color: white;
}

td {
  text-align: center;
}

.botao-calculo {
  padding: 10px 20px;
  margin: 20px 0;
  background-color: var(--button-background);
  color: var(--button-text-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.botao-calculo:disabled {
  background-color: #B3D4FF;
  cursor: not-allowed;
}

.resultado {
  font-size: 18px;
  color: var(--primary-color);
}

.erro {
  color: var(--error-color);
  font-weight: bold;
}
